In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = [15, 6]

Toy example

In [3]:
# train data
#  🐈 🐯 🐱 🐩 🐱
#  🐶 🐶 🐈 🐶 🐩 🐈 🐶 🐶
#  🐈 🐈 🐯 🐶 🐈
#  🐈 🐈 🐈
#  🐶 🐶 🐯 🐈 🐩 🐱 🐩 🐶 🐩 🐶

# labels 
# cat dog cat cat dog

# test data
# 🐈 🐈 🐶 🐶 🐩 🐱 🐱

In [4]:
#     🐈 🐯  🐱  🐩 🐶
X = [[1, 1, 2, 1, 0],
     [2, 0, 0, 1, 5],
     [3, 1, 0, 0, 1],
     [3, 0, 0, 0, 0],
     [1, 1, 1, 3, 4]]

y = [0, 1, 0, 0, 1]

x_new = [0, 0, 2, 1, 2]
# x_new = [1, 3, 2, 0, 0]

X = np.array(X)
y = np.array(y)
x_new = np.array([x_new])

In [5]:
from mlscratch.naive_bayes import NaiveBayesClassifier

In [6]:
model = NaiveBayesClassifier()

In [7]:
model.fit(X, y)

In [8]:
model.predict(x_new)

array([1])

Real Data set from kaggle mushroom classification competition

In [9]:
df = pd.read_csv('../data/mushrooms.csv')

In [10]:
df.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [11]:
y = df['class'].astype('category').cat.codes
df.drop(['class'], inplace=True, axis=1)

In [12]:
df = pd.get_dummies(df)

In [13]:
df.head()

,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_s,cap-shape_x,cap-surface_f,cap-surface_g,cap-surface_s,cap-surface_y,...,population_s,population_v,population_y,habitat_d,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
0,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [14]:
X = df.values

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [17]:
model = NaiveBayesClassifier()

In [18]:
model.fit(X_train, y_train)

In [19]:
y_preds = model.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_true=y_test, y_pred=y_preds)

0.9950763170851797